$basicColor: #212121;
$secondaryColor: #757575;
$accentColor: #2196f3;
$hoverColor: #188ce8;
$iconColor: #afb1b8;
$bgColor: #f5f4fa;
$bgDarkColor: #2f303a;
$overlayColor: rgba(47, 48, 58, 0.4);
$halfToneColor: rgba(255, 255, 255, 0.6);
$shadowColor: rgba(0, 0, 0, 0.15);

$fontMain: Roboto, sans-serif;
$fontLogo: Raleway;